{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
<div class="graphic">
    <h3>{{ headline }}</h3>
  <div class="intro col-sm-6">
      <p>{{ leadin }}</p>
      <table class="table table-hover">
        <tr>
        <th>School</th>
        </tr>
      </table>
    </div>

  <div class="mapWrapper col-sm-6">
    <div id="map">
      <div class="bar"><span class="bar-reset">Reset view</span>
      </div>
    </div>
  </div>

  <div class="source col-xs-12">
      <span class="note">Source: Florida House and Florida Department of Education</span>
      <span class="credit"><span>AARON ALBRIGHT</span> aalbright@miamiherald.com</span>
  </div>
<div style="clear:both"></div>
</div>
{% endblock %}
