{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
<div class="graphic">
    <h3>{{ headline }}</h3>
    <p>{{ leadin }}</p>
    <span class="info">Click on a school to see grades and 2016-17 student population.</span>
      <table class="table table-hover">
        <thead>
          <tr>
          <th>County</th>
          <th>School</th>
          <th>City</th>
          <th>2017 Grade</th>
        </tr>
      </thead>
      <tbody></tbody>
      </table>

  <div class="mapWrapper">
    <div id="map">
      <div class="bar"><span class="bar-reset">Reset view</span>
      </div>
    </div>
  </div>
  
  <div class="note">
      <span class="source">{{ source }}</span>
      <span class="credit"><span>AARON ALBRIGHT</span> aalbright@miamiherald.com</span>
  </div>
<div style="clear:both"></div>
</div>
{% endblock %}
