// @import url('http://media.miamiherald.com/static/media/projects/fonts/fonts.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css');
@import url('https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css');
@import url('https://unpkg.com/leaflet@1.1.0/dist/leaflet.css');

// Set default font
* {
  font-family:"McClatchy Sans",Helvetica,Arial,sans-serif
}

// General graphic styles
.graphic{
	max-width: 700px;
	border-top-width: 2px;
	border-top-style: dotted;
	border-top-color: #ccc;
	margin-bottom: 20px;
}

.graphic h3{
	margin-top:10px;
	width: 100%;
  font-family:"McClatchy Slab",Helvetica,Arial,sans-serif;
  color: #000;
}

.graphic p{
  color: #000;
	font-size:14px;
	width: 100%;
}
.graphic .note{
	font-size:11px;
  padding-top: 10px;
  span {
	  width: 50%;
	  margin-bottom: 10px;
  }
}

.graphic .source {
	margin-bottom:10px;
	float: left;
}

.graphic .credit {
	float: right;
  text-align: right;
  span {
    	font-weight: 500;
  }
}

.info {
  font-size: 12px;
  color: #777;
}

// Makes the map play nice with Pym et al
.mapWrapper {
  margin-top: 30px;
  height: 350px;
}

 .mapWrapper iframe,
 .mapWrapper embed,
 .mapWrapper object,
 .mapWrapper #map {
    width: 100%;
    height: 100%;
}

// Map reset buttom styles
.bar {
    position: absolute;
    z-index: 500;
    text-align: left;
    overflow: hidden;
    border: 2px solid rgba(0,0,0,0.2);
    border-radius: 5px;
    bottom: 0;
    margin-bottom: 10px;
    margin-left: 10px;
}

.bar-reset {
    font-family:"McClatchy Sans",Helvetica,Arial,sans-serif;
    font-size: 14px;
    padding: 6px 12px 6px 12px;
    background-color: rgb(255,255,255);
    cursor: pointer;
    color: #000;
}

.bar-reset:hover, .bar-reset:active {
    background: #379ad3;
    color: #FFF;
}

// Custom leaflet styles
.leaflet-container a {
  color: #000;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  box-shadow: none;
}

.leaflet-popup-content-wrapper {
  border-radius: 5px;
  border: 1px solid #A9A9A9;
}

.leaflet-popup-tip {
  border-right: 1px solid #A9A9A9;
  border-bottom: 1px solid #A9A9A9;
}

.leaflet-popup-tip-container {
  overflow: visible;
}

td {
  cursor: pointer;
}

label {
  float: right;
}

.input-sm {
  height: 25px;
  border-radius: 5px;
}

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
  color: #379ad3;
}

table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after {
  opacity: 0.9;
}

.table {
  font-size: 12px;
}

#DataTables_Table_0_wrapper {
  box-shadow: inset 0px -10px 10px -10px #777;
}